@charset "utf-8";

/* common */
html, body{height: 100%;}
body{font-family: 'Noto Sans KR', sans-serif;}
.container{width: 980px;margin: 0 auto;}

/* header */
#header{width: 100%;margin: 0 auto;background-color: #FFC72C;}
#header .headerTopWrap{position:relative;display: flex;justify-content:space-between;}
.headerTopWrap h1{padding:10px;}

#header .IcoWrap{position: absolute;right: 0;padding:10px 0;}
.IcoWrap ul{display: flex;justify-content: center;align-items: center;}
.IcoWrap .number{font-size:26px;color:#FDFEFF;letter-spacing:0.015em;margin-right: 20px;font-weight:500;cursor:pointer;}
.IcoWrap li{margin-right: 3px;}
.IcoWrap li:last-child{margin-right: 0;}
.IcoWrap .Icon{transition: 0.3s;}
.IcoWrap .Icon:hover{transform:rotate(5deg);box-shadow: 3px 3px 3px #333;}


#header .headerMainWrap{background-color: #222;position: relative;margin: 0 auto;}
.headerMain .navMain>ul>li{float:left;width:calc( 100% / 6 );height: 40px;line-height:30px;}
.headerMain .navMain>ul>li>a{height: 100%;transition:0.3s;
    display: flex;justify-content: center;align-items: center;color:#f5f5f5;font-size:16px;}
.headerMain .navMain>ul>li>a:hover{color:#FFC72C;}
.headerMain .navMain>ul>.menu6>a{color:#f00;transition:0.3s;}
.headerMain .navMain>ul>.menu6>a:hover{color:#f00;font-weight:600;}


/* submenu */
.submenu{visibility:hidden;padding:10px 0;
    background-color: rgba(169, 169, 169,0.5);color:#222;
    border-radius:0 0 10px 10px;transition:0.3s;transform:translateY(15px);
}
.submenu li{transition:0.3s;}
.submenu li:hover a{transform:scale(1.1);font-weight:500;}
.submenu>ul>li>a{display: flex;justify-content: center;align-items: center;
    font-size:14px;transition:0.3s;
}
.navMain>ul>li:hover .submenu{visibility:visible;opacity:1;transform:translateY(0);}



