@charset "utf-8";
/********** css responsive init  **********/

/* common */
.bg_gray{background: #eee !important;}
h3{text-align:center;font-size:24px; font-weight:700;color:#eee;}
.tcon div,
.tcon10 div{display: flex;justify-content: center;align-items: center;gap:10px;}

body,html{height: 100%;}
body{font-family: 'Nanum Gothic', sans-serif;}
.container{width: 1240px;margin: 0 auto}

/* header  */
#header{position:fixed;width: 100%;z-index:10;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
#header h1{padding:10px;}

.navbarWrap{display: flex;padding-top:10px;}
.navbar{margin-left: auto;}
.navbar>ul{display: flex;height: 100%;}
.navbar>ul>li>a{position: relative;
    display:flex;height: 100%;justify-content: center;align-items: center;
    padding: 20px;font-size: 18px;font-weight: 800;color:#563320;
}
.navbar>ul>li{position: relative;}
.navbar>ul>li .aBar{
    position: absolute;width:100%;height: 3px;background: #F26922;bottom: 10px;
    border-radius:4px;transform:scale(0);transform-origin:right;
    transition: 0.6s;
}

.navbar>ul>li .submenu{
    background-color: #F6F5F1;
    position: absolute;top:60px;width: 180px;padding: 10px 5px;right:0;border-radius:2px;
    transform:translateY(20px);transition: 0.6s;
    opacity:0;visibility: hidden;box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.submenu li{display: block;line-height: 38px;text-align: center;transition:.6s;}
.submenu li:hover a{font-weight:800;}
.submenu li>a{font-size:16px;color:#333;font-weight:700;}
.mainMenu{transition:.6s;}
.navbar>ul>li.on {color:#F26922}
.navbar>ul>li.on .submenu{transform:translateY(-8px);opacity: 1;visibility: visible;}
.navbar>ul>li.on .aBar{transform:scale(1)}
.navbar>ul>li.on .mainMenu{color:#F26922;text-shadow:0 3px 3px rgba(0,0,0,.3)}


.toggle{
    width:40px;height: 60px;padding:10px;
    justify-content: center;align-items: center;
    display: none;
}
.toggle div{
    width: 24px;height: 3px;background: #563320;position: absolute;border-radius: 2px;
}
.toggle .bar1{transform:translateY(-8px);}
.toggle .bar3{transform:translateY(8px);}

.navbarClone{position: relative;z-index:1000}
.navbarClone,.overlay{display: none;}
button{width: 100px;height: 40px;background-color:#E5478C;border: 0 none;
    border-radius:6px;color:#fff;font-size:16px;cursor:pointer;
}

.btn{margin-bottom: 16px;}
.navbarClone>ul>li{padding:16px 0;}
.navbarClone>ul>li>a{display: flex;justify-content:space-between;
    color:#563320;font-weight:800;font-size:18px;margin-bottom: 4px;
}
.tsubmenu{display:none;padding-top:8px;}
.navbarClone .tsubmenu>li{padding:4px 0;margin-bottom: 6px;}
.navbarClone .tsubmenu>li>a{font-size:16px;font-weight:700;color:#998E86;
}

.navbarClone>ul>li i{transition:.4s;}
.navbarClone>ul>li>a.active i{transform:rotate(180deg);}

.navbarClone .sns{
    display: flex;flex-direction:column;justify-content: center;align-items: center;}
.navbarClone .tsns{display: flex;justify-content: center;align-items: center;gap:10px;
    font-weight:800;color:#563320;margin-bottom: 10px;font-size:20px;
}
.navbarClone .sns ul{display: flex;gap:10px;}
.mMenu{margin-bottom: 50px;}

/* visual_swiper */
.visualWrap{width: 100vw;position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.swiper-button-next:after,.swiper-button-prev:after{visibility:hidden;}
.swiper-button-next,.swiper-button-prev{width: 81px;}
.swiper-button-next{
    background-image:url(../images/btn_next.png);
    background-repeat: no-repeat;
    position: absolute;margin-right: 30px;
}
.swiper-button-prev{
    background-image: url(../images/btn_prev.png);
    background-repeat: no-repeat;
    position: absolute;top: 50%;margin-left: 20px;

}
.swiper img{width: 100%;}
.swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal:root{
    --swiper-theme-color:#563320
}

/* contents */
.contents{background: #998E86;width: 100%;padding-bottom:80px;}

.sectionWrap>ul{display: flex;flex-wrap:wrap;position: relative;}
.sectionWrap>ul>li{
    flex-grow:1;flex-basis:25%;
    height: 310px;order:10;position: relative;
}

.sectionWrap>ul>li:nth-child(2),
.sectionWrap>ul>li:nth-child(4),
.sectionWrap>ul>li:nth-child(5),
.sectionWrap>ul>li:nth-child(7),
.sectionWrap>ul>li:nth-child(10){flex-grow:0;flex-basis:50%;cursor:pointer}


.sectionWrap>ul>li:nth-child(6){height: 620px;}
.sectionWrap>ul>li:nth-child(9){flex-grow:0;position: absolute;cursor:pointer;
    right: 620px;bottom: 0;width: 310px;
}
.sectionWrap>ul>li:nth-child(10){flex-grow:0;position: absolute;right: 0;bottom: 0;width: 620px;}


.sectionWrap>ul>li:nth-child(1),
.sectionWrap>ul>li:nth-child(8),
.sectionWrap>ul>li:nth-child(9){display: flex;justify-content: center;align-items: center;cursor:pointer}

.sectionWrap>ul>li:nth-child(1) img,
.sectionWrap>ul>li:nth-child(8) img,
.sectionWrap>ul>li:nth-child(9) img{margin: 0 auto;margin-bottom: 4px;transform:scale(0.8)}
.sectionWrap>ul>li:nth-child(9) h3{color:#563320;font-weight:800;}

.sectionWrap>ul>li:nth-child(1){background: #E5478C;}
.sectionWrap>ul>li:nth-child(8){background: #F26922;}
.sectionWrap>ul>li:nth-child(9){background: #F6F2E8;}
.sectionWrap>ul>li:nth-child(9){position: absolute;right: 620px;bottom: 0;}
.sectionWrap>ul>li:nth-child(10){position: absolute;right: 0;width: 620px;}

.sectionWrap>ul>li:nth-child(3),
.sectionWrap>ul>li:nth-child(5),
.sectionWrap>ul>li:nth-child(6),
.sectionWrap>ul>li:nth-child(7),
.sectionWrap>ul>li:nth-child(10){
    background-repeat: no-repeat;background-position:center;background-size:cover;
    display: flex;justify-content: center;align-items: center;
}
.sectionWrap>ul>li:nth-child(3){background-image: url(../images/Group\ 1.png);cursor:pointer}
.play:hover img{animation:play 1s alternate infinite forwards linear}

@keyframes play {
    from{}
    to{transform:rotate(-30deg) scale(1.3)}
    
}

.sectionWrap>ul>li:nth-child(5){background-image: url(../images/Group\ 2.png);}
.sectionWrap>ul>li:nth-child(6){background-image: url(../images/Rectangle\ 20.png);}
.sectionWrap>ul>li:nth-child(7){background-image: url(../images/Group\ 5\ \(1\).png);}
.sectionWrap>ul>li:nth-child(10){background-image: url(../images/Group\ 4.png);}

.sectionWrap>ul>li:nth-child(4){position: relative;padding:40px;display: flex;justify-content: center;align-items: center;gap:50px;}
.tDom{position: absolute;left:0;background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
    height: 310px;width: 310px;padding:40px;display: flex;justify-content: center;align-items: center;
}
.tDom>a{display: flex;flex-direction:column;}
.tDom>a>h3{font-size:24px;text-align:center;color:#563320;font-weight:700;line-height:30px;}
.tDom>a>p{transform:translateY(40px);font-size:20px;text-align:left;color:#563320;font-weight:400;line-height:30px;}
.tDom>a>.dBtn{transform:translateY(80px);text-align:right;color:#563320;font-weight:400;}
.tDom>a>.dBtn:after,
.tDom>a>.dBtn:before{cursor:pointer;content:"";display: block;height: 2px;width: 14px;background-color: #563320;
    border-radius:2px;transform:rotate(45deg);position: absolute;right:-24px;top:5px;
}
.tDom>a>.dBtn:before{transform:rotate(-45deg);top:14px}
.tDom{position: absolute;left:-310px;}
.dom{position: relative;overflow:hidden;}
.dom:hover .tDom{animation: donut 1s alternate forwards ease-out}

@keyframes donut{
    from{}
    to{transform:translateX(100%);}
}


/* slide */
.bx-controls{display:none;}
.bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
    background : #F6F5F1;
}
.sectionWrap>ul>li:nth-child(2){height: 310px;}
.itemWrap{display: flex;}
.sItems .sTxt,.sItems .sImg{width: 310px;height: 310px;}
.sItems .sTxt{position: relative;}
.sItems .sTxt:after{content:"";display: block;width: 0;height: 0;
    border-width: 20px;border-style:solid;
    border-color: transparent transparent transparent #F6F5F1;
    position: absolute;top: 50%;right: -40px;margin-top: -20px;
}
.sImg>img{width: 100%;height: 100%;}
.sItems .txt{padding:40px;}
.sItems .txt h3{margin-bottom: 20px;text-align:left;color:#563320;font-weight:800;}
.sItems .txt p{text-align:left;color:#998E86;font-weight:700;font-size:20px;line-height:28px;}
.sBtn{position: absolute;bottom: 40px;display: flex;gap:10px;left:190px;}
.sBtn div{cursor:pointer;}


.sectionWrap>ul>li:nth-child(4){background: #F99f00;position: relative;}
.sectionWrap>ul>li:nth-child(4) h3{position: absolute;top: 50px;left: 50px;}
.sectionWrap>ul>li:nth-child(4) img{width: 100%;height: 100%;}

.tcon img{transform:scale(0.8)}
.tcon p,
.tcon10 p{color:#eee;font-size:24px;font-weight:800;height: 150px;text-shadow:0 5px 5px rgba(0,0,0,.4);
    display: flex;flex-direction:column;justify-content:center;line-height:40px;
}
.tcon p span,
.tcon10 p span{margin-top: 10px;color:#eee;font-size:20px;font-weight:700;line-height:30px;}

.why>a>p{font-size:24px;color:#eee;font-weight:800;line-height:38px;transform:translate(-50px,-200%)}

/* background */
#background1{
    height: 26vh;
    background-image: url(../images/img_banner_1_1.jpg);
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
}

/* #background1 h2{font-size:40px;font-weight:800;color:#D0BE98;text-shadow:0 5px 5px rgba(0,0,0,.6)} */

#background2{
    height: 26vh;
    background-image: url(../images/img_banner_1_1.jpg);
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
}

/* MENU */
.MENU{background: #F6F5F1;}
.MENU h2{padding-top:80px;text-align:center;font-size:40px;color:#563320;font-weight:800}
.MENUWrap{padding:50px 0;}
.MENUWrap .swiper-wrapper{display: flex;justify-content: center;align-items: center;}
.MENUWrap>ul>li a{display: flex;flex-direction:column;align-items: center;justify-content: center;}
.product>img{margin-bottom: 20px;}
figure{border-radius:50%;margin: 0 auto;padding:14px;}
.product:hover figure{animation:product 0.7s infinite alternate forwards linear;}

@keyframes product {
    from{}
    to{transform:translateY(-14px)}
}

.MENUWrap>ul>li p{font-size:24px;text-align:center;color:#563320;font-weight:800;margin-bottom: 20px;}
.MENUWrap>ul>li .btn{padding:8px;font-size:16px;color:#F26922;text-align:center;
    display:inline-block;border: 1px solid #F26922;border-radius:6px;transition:.3s;
}
.MENUWrap>ul>li .btn:hover{color:#eee;background-color: #F26922;transform:translate(3%,-3%);
    box-shadow:0 5px 5px rgba(86,51,32,.7);font-weight:700;
}

/* news */
#news{background-color: #D0BE98;}
#news .newsWrap{padding:80px 0;display: flex;overflow:hidden;position: relative;cursor:pointer;}
.newsWrap .newsText{font-size:24px;background: #563320;height: 620px;width: 310px;position: relative;z-index:10;
    display: flex;flex-direction:column;justify-content: center;align-items: center;gap:10px;overflow:hidden;
}
.slide_Text1>p,
.slide_Text2>p,
.slide_Text3>p{position: absolute;opacity:0;}

.slide_Text1>p:nth-child(1),
.slide_Text2>p:nth-child(1),
.slide_Text3>p:nth-child(1){opacity:1;}

.slide_Text1,
.slide_Text2,
.slide_Text3{position: relative;width: 310px;height: 310px;}

.newsText>figure>img{width: 100%;height: 100%;}
.newsText>figure{width: 80px;height: 100px;}
.newsText>p{color:#eee;font-size:16px;line-height:24px;}
.newsText>.btn{display: flex;gap:10px;position: absolute;bottom:40px;right:40px;}

#news .slide2>ul{}
#news .slide2>ul>li{position: relative; height: 620px;width: 310px;overflow:hidden;}
#news .slide2 .newsImg{width: 310px;height: 310px;display: flex;position: relative;
}
#news .slide2 img{width: 310px;height: 310px;}
#news .slide2 ul{display: flex;}
#news .slide2 p{height: 310px;display:flex;background-color: #F6F2E8;
    justify-content: center;align-items: center;padding:40px;color:#998E86
}
.slide2>ul>li> p:after{content:"";display: block;width: 0;height: 0;
    border-width: 20px;border-style:solid;
    border-color: transparent transparent transparent #F6F2E8;
    position: absolute;top:-40px;transform:rotate(90deg)
}
.slide2>ul>li>a>.after_up:after{content:"";display: block;width: 0;height: 0;
    border-width: 20px;border-style:solid;
    border-color: transparent transparent transparent #F6F2E8;
    position: absolute;top:-40px;transform:rotate(-90deg)
}

/* bottomWrap */
.bottomWrap{display: flex;}




/********** css responsive  **********/
@media (max-width: 1399px) {

}

@media (max-width: 1199px) {
    .slider .bx-wrapper .bx-pager{display:none;}
    .container{width: 100%;}

    .sectionWrap>ul>li:nth-child(1){order:1}
    .sectionWrap>ul>li:nth-child(3){order:2}
    .sectionWrap>ul>li:nth-child(8){order:3}
    .sectionWrap>ul>li:nth-child(9){order:4}
    .sectionWrap>ul>li:nth-child(2){order:5}
    .sectionWrap>ul>li:nth-child(5){order:6}
    .sectionWrap>ul>li:nth-child(7){order:7}
    .sectionWrap>ul>li:nth-child(10){order:8}

    .sectionWrap>ul>li:nth-child(9){position:initial;}

    .sectionWrap>ul>li:nth-child(6),
    .sectionWrap>ul>li:nth-child(4){display:none;}

    .sItems .sTxt{position: relative;z-index: 1;padding:10px}
    .sItems .sImg{position: relative;overflow: hidden;}
    .sItems .sImg img{
       position: absolute;
       left: 50%;top: 50%;
       transform: translate(-50%,-50%);
    }
    .sBtn{left: 50px;}
    
    .sectionWrap>ul>li:nth-child(7),
    .sectionWrap>ul>li:nth-child(10){width: 50%;}

    .sectionWrap>ul>li:nth-child(7) img,
    .sectionWrap>ul>li:nth-child(10)img{width: 100%;}
    .tcon10 div{gap:0;margin-right:50px}


}

@media (max-width: 991px) {
    .navbar>ul>li>a{padding: 20px 15px;}
}

@media (max-width: 767px) {
    .navbar{display: none;}
    .navbarWrap{padding: 10px 20px;}
    .toggle{display: flex;margin-left: auto;}
    
    .navbarClone{
        position: fixed;
        width:90%;
        height: 100%;
        top: 0;left: -100%;
        background: #F6F5F1;
        display: block;
        transition:0.8s;
        padding:30px;
    }
    .overlay{
        display: none;
        position: fixed;
        width: 100%;height: 100%;
        left: 0;top: 0;
        background: #000;
        opacity: 0.5;
    }

    .swiper-button-next,.swiper-button-prev{display:none;}

    .sectionWrap>ul>li:nth-child(2){display:none;}
    .sectionWrap>ul>li:nth-child(1),
    .sectionWrap>ul>li:nth-child(3),
    .sectionWrap>ul>li:nth-child(8),
    .sectionWrap>ul>li:nth-child(9){flex-basis:50%;height: 240px;}

    .sectionWrap>ul>li:nth-child(1) img,
    .sectionWrap>ul>li:nth-child(8) img,
    .sectionWrap>ul>li:nth-child(9) img{transform:scale(0.7);margin-bottom: -16px;}
    h3{text-align:center;font-size:20px; font-weight:700;color:#eee;}

    .sectionWrap>ul>li:nth-child(5),
    .sectionWrap>ul>li:nth-child(7),
    .sectionWrap>ul>li:nth-child(10){width: 100%;height: 240px;flex-basis:100%}

    .sectionWrap>ul>li:nth-child(7),
    .sectionWrap>ul>li:nth-child(10){position:initial}

    .tcon7{text-align:right;gap:0}

    .sectionWrap>ul>li:nth-child(5) img,
    .sectionWrap>ul>li:nth-child(7) img,
    .sectionWrap>ul>li:nth-child(10) img{transform:scale(0.7)}

    .contents{padding-bottom:0;}
    .MENU h2{font-size:24px;}
    .background1,.background2{height: 10vh;transform:scale(1.3);
        background-position:cover;
    }




}

@media (max-width: 575px) {

}

