@charset "utf-8";

body{font-family: 'Roboto', sans-serif;}

/* header */
.headerTop{width: 100%;background-color: #990e17;margin: 0 auto;margin-bottom: 20px;}
.headerTop .headerTopWrap{width: 1200px;margin: 0 auto;}

.headerTop .navbarUtil{float:left;}
.headerTop .navbarUtil li{float:left;margin-right: 3px;}
.headerTop .navbarUtil li a{display:block;width: 122px;
    text-align:center;padding:10px;background-color: #490106;
    color:#fff;font-size:14px;font-weight: bold;
}

/* navbarUtil_hover */
.navbarUtil li a:hover{background-color: #fff;color:#4b4b4b}
/* navbarUtil_active */
.navbarUtil li a.active{background-color: #fff;color:#4b4b4b}

.headerTop .navbarMenu{float:right;}
.headerTop .navbarMenu li{float:left;}
.headerTop .navbarMenu li a{height:40px;
    display:flex;justify-content:center;align-items:center;
    color:#fff;font-size:14px;padding:10px;
}

.navbarMenu li:nth-child(2){padding-top:10px;}
.navbarMenu li:nth-child(2) a{width: 20px;height: 20px;background-color: #fff;
    color:#9b9b9b;float:left;margin-right: 3px;
}

.headerMain{width: 100%;margin: 0 auto;margin-bottom: 20px;}
.headerMainWrap{width: 1200px;margin: 0 auto;position: relative;}

.headerMainWrap h1{float:left;width: 233px;}
.headerMainWrap h1 img{width: 100%;}

.navbarMain{position: absolute;top:10px;left:calc( 213px + 233px );}
.navbarMain li{float:left;padding:10px;}
.navbarMain li a{display:block;color:#000;padding:8px;font-size:18px;font-weight:bold;}

.headerMainWrap>a{position: absolute;right: 0;top: 20px;}

/* common */
.container{width: 1200px;margin: 0 auto;}
.btn p{margin-right: 10px;}
#section h3 a{display:block;color:#fff;font-size:25px;margin-bottom: 30px;}
#section .sec2>ul>li{float:left;width: 300px;height: 225px;}




/* section */

#section{padding:70px 0;
    background-image: url(../images/dot.png),url(../images/background.jpg);
    background-repeat:repeat, no-repeat;
    background-position:center;background-size:auto,cover;
}

/* sec1 */
#section .sec1{height: 140px;margin-bottom: 50px;}
#section .sec1 h2{float:left;font-weight:400;color:#fff;font-size:48px;letter-spacing:-0.1em;}
#section .sec1 h2 span{font-size:72px;font-weight:700;letter-spacing:-0.1em;}
#section .sec1 ul{float:right;}
#section .sec1 li{float:left;margin-right: 20px;}
#section .sec1 li>a>img{margin-bottom: 10px;}
#section .sec1 li p{color:#fff;display:flex;justify-content:center;align-items:center;}
#section .sec1 li:last-child{margin-right: 0;}

/* sec2_bxSlider */
.bx-wrapper {
    width: 900px;height: 450px;float:left;
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
    position: relative;
    margin-bottom: 0;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.bx-wrapper .bx-pager{bottom: 30px;}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a:active,
.bx-wrapper .bx-pager.bx-default-pager a:focus{background: #535353;}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a:active,
.bx-wrapper .bx-pager.bx-default-pager a:focus{background: #d64141;}

.bx-wrapper .bx-pager.bx-default-pager a.active{background:#d64141;}

#section .sec2>ul>li:nth-child(1){width: 900px;height: 450px;}
.slide1{width: 900px;height: 450px;float:left;}
.slideItem1{width: 900px;height: 450px;}

.slideItem1>.txtWrap{display:block;font-size:70px;color:#fff;position: absolute;top: 50px;left: 95px;}
.slideItem1>.txtWrap>p{letter-spacing:-0.2em;margin-bottom: 18px;text-shadow: 4px 4px #222;}
.slideItem1>.txtWrap span{font-weight:bold;}
.slideItem1>.txtWrap>.btn>a{font-size:14px;font-weight:bold;background-color: rgba(213, 136, 136,0.8);
    width: 188px;height: 40px;border-radius:10px;color:#fff;
    display:flex;justify-content:center;align-items:center;border: 1px solid #fff;
}

.slideItem1>.txtWrap2{display:block;position: absolute;left:50%;top:80%;transform:translate(-50%,-50%);}
.slideItem1>.txtWrap2>p{font-size:25px;font-weight:bold;color:#fff;text-shadow: 1px 1px #555;}

/* sec3 */
#section .sec2>ul>li:nth-child(2){height: 450px;}
.sec3 .txtWrap{padding:60px 40px;}
.sec3 .txtWrap>h2{font-size:40px;color:#fff;padding-bottom:20px;letter-spacing:-0.15em;text-shadow: 3px 3px #444;}
.sec3 .txtWrap>p{font-size:18px;color:#fff;padding-bottom:30px;letter-spacing:-0.15em;text-shadow: 1px 1px #444;}
.sec3>.txtWrap>.btn a{
    font-size:14px;font-weight:bold;background-color: rgba(176, 0, 0,0.63);
    width: 188px;height: 40px;border-radius:10px;color:#fff;border: 1px solid #fff;
    display:flex;justify-content:center;align-items:center;
}

/* sec4 */
#section .sec2>ul>li:nth-child(3){background-color: #990e17;}
#section .sec4{padding:20px 25px;}
#section .sec4 .secbar>ul>li{float:left;padding:0 10px;}
#section .sec4 .secbar>ul>li:last-child{padding-right:0;}
#section .sec4 .secbar>ul>li>a>img{margin-bottom: 7px;}
#section .secbar li>p{font-size:14px;color:#fff;font-weight:bold;letter-spacing:-0.01em;
    text-align:center;line-height:19px;
}

/* sec5 */
#section .sec2>ul>li:nth-child(4){background-color: #d64141;}
#section .sec5{padding:20px 25px;position: relative;}
#section .sec5:after{content:"";display:block;background-color:#fff;
    width: 260px;height: 2px;position: absolute;top:65px;left:20px;margin-bottom: 10px;
}
#section .sec5 .notice{font-size:14px;letter-spacing:-0.6px;line-height:19px;}

#section .sec5 .notice p{width: 180px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
/* TEXT넘칠 때 ...나오게 */

#section .sec5 .notice>li{background-image: url(../images/notice.png);background-repeat:no-repeat;
    background-position: 0 50%;margin-bottom: 10px;
}
#section .sec5 .notice>li>a{text-indent:7px;display:block;color:white;position: relative;}
#section .sec5 .notice>li span{display:block;position: absolute;right: 0;top: 0;}

/* sec6 */
#section .sec2>ul>li:nth-child(5){background-color: #d58888;}
#section .sec6{padding:20px 25px;}
#section .sec6 .txtWrap{display:flex;margin-bottom: 5px;;}
#section .sec6 .txtWrap>a>img{margin-right: 25px;}
#section .sec6 .txtWrap>p{text-align:left;color:#fff;font-size:14px;letter-spacing:-0.01em;line-height:19px;}
#section .sec6 .IcoWrap{display:block;float:right;}
#section .sec6 .IcoWrap>ul>li{float:left;margin-right: 5px;transition:0.3s;}
#section .sec6 .IcoWrap>ul>li:last-child{margin-right: 0}

#section .sec6 .IcoWrap>ul>li:hover{transform:translateY(-5px)}


/* sec7 */
#section .sec2>ul>li:nth-child(6){}
#section .sec7{position: relative;overflow:hidden;}
#section .sec7 img{width: 100%;transition:0.3s;}
#section .sec7 .txt{width: 100%;height: 100%;position: absolute;top:-85%;
    background-color: rgba(0,0,0,0.3);transition:0.3s;
}
#section .sec7 .txt a{height: 100%;display:flex;justify-content: center;
    align-items:center;color:#fff;font-size:20px;font-weight:bold;}

#section .sec7:hover .txt{top: 0;}
#section .sec7:hover img{transform:scale(1.2);}

/* sec8 */
#section .sec2>ul>li:nth-child(7){background-color: rgba(0, 22, 59,0.7);
    display:flex;justify-content:center;align-items:center;overflow:hidden;transition:0.3s;
}
#section .sec8{background-position:center;background-repeat:no-repeat;cursor:pointer;}
#section .sec8 img{transition:0.3s;box-shadow:0 0 10px rgba(153, 14, 23,0.3)}
#section .sec8:hover img{transform:scale(1.2)}

/* sec9 */
#section .sec2>ul>li:nth-child(8){width: 900px;}

/* sec9_bxSlider */
#section .sec9 .bx-wrapper {
    width: 900px;height: 225px;float: left;
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
    position: relative;
    margin-bottom: 0;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

#section .sec9 .bx-wrapper .bx-pager{
    position: absolute;
    right: 0;top: 0;  
    width: 100px;height: 10px;
}

#section .sec9 .bx-wrapper .bx-pager.bx-default-pager a:hover,
#section .sec9 .bx-wrapper .bx-pager.bx-default-pager a:active,
#section .sec9 .bx-wrapper .bx-pager.bx-default-pager a:focus{background: #535353;}

#section .sec9 .bx-wrapper .bx-pager.bx-default-pager a:hover,
#section .sec9 .bx-wrapper .bx-pager.bx-default-pager a:active,
#section .sec9 .bx-wrapper .bx-pager.bx-default-pager a:focus{background: #990e17;}

#section .sec9 .bx-wrapper .bx-pager.bx-default-pager a.active{background:#990e17;}

#section .sec9 .bx-viewport{width: 900px;height: 225px;}
.slideItem2{width: 900px;height: 225px;}
.sec9 ul li{float:left;position: relative;}
#section .sec9 .txtWrap{display:block;font-size:35px;color:#490106;
    position: absolute;left:40px;top:40px;
}
#section .sec9 .txtWrap>p{letter-spacing:-0.15em;}
#section .sec9 .txtWrap span{font-size:60px;font-weight:bold;}
.slideItem2>.txtWrap>.btn>a{
    font-size:14px;font-weight:bold;background-color: rgba(241, 65, 65, 0.8);
    width: 188px;height: 40px;border-radius:10px;color:#fff;border: 1px solid #fff;
    display:flex;justify-content:center;align-items:center;
}

#section .sec9 .txtWrap2{font-size:30px;color:#fff;text-shadow: 3px 3px #333;
    position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);
}
#section .sec9 .txtWrap2>.btn{position: absolute;left:20%;transition:0.3s;}
#section .sec9 .txtWrap2>.btn>a{display:flex;justify-content:center;align-items:center;
    font-size:20px;font-weight:bold;background-color: rgba(0, 0, 0,0.2);text-shadow:none;
    width: 250px;height: 50px;border-radius:10px;color:#fff;border: 0.5px solid #fff;transition:0.3s;
}


#section .sec9 .txtWrap2>p{margin-bottom: 25px;}
#section .sec9 .txtWrap2 span{font-weight:bold;font-size:35px;}
#section .sec9 .txtWrap2 .btn:hover{transform:scale(1.2)}
#section .sec9 .txtWrap2 .btn:hover a{background-color: rgba(73, 1, 6,0.7);transform:translateY(-10px)}


#section .sec9 .txtWrap3{display:block;width: 900px;height: 40px;text-align:center;
    position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);
}
#section .sec9 .txtWrap3>p{font-size:25px;color:#fff;text-shadow:3px 3px #333}

.txtWrap3 span{font-weight:bold;font-size:30px;}

/* footer */
.footer{background-color: #212121;}
.footerWrap{margin: 0 auto;width: 1200px;position: relative;padding:100px;}

.footerWrap h4{position: absolute;left: 10px;top: 50px;width: 233px;}
.footerWrap h4>a>img{width: 100%}

.footerWrap {position: relative;}
.footerWrap .txtWrap1{display:flex;position: absolute;top:50px;left:calc( 233px + 30px );width: 1000px;}
.footerWrap .txtWrap1 li{padding-right:3px;transition:0.3s;}

.footerWrap .txtWrap1 li>a:hover{color:#aaa}
.footerWrap .txtWrap1 li:after{content:"";position: absolute;height: 17px;width: 1px;background-color:#fff;}
.footerWrap .txtWrap1 li:nth-child(6):after{display:none;}
.footerWrap .txtWrap1 li:nth-child(7):after{display:none;}

.footerWrap .txtWrap1:after{content:"";position: absolute;top:30px;height: 1px;width: 908px;background-color:#fff;}
.footerWrap .txtWrap1 li a{padding:0 25px;font-size:14px;color:#fff;letter-spacing:-0.15em;}
.footerWrap .txtWrap1 .btn a{display:flex;}
.footerWrap .txtWrap1 .btn p{margin-right: 15px;}
.footerWrap .txtWrap1 .btn img{width: 22px;height: 12px;}

.footerWrap .txtWrap2{display:flex;position: absolute;top:100px;left:calc( 233px + 50px );width: 1000px;}
.footerWrap .txtWrap2 li{padding-right:20px;font-size:14px;color:#fff;letter-spacing:-0.15em;}

.footerWrap .txtWrap3{display:flex;position: absolute;top:120px;left:calc( 233px + 50px );width: 1000px;}
.footerWrap .txtWrap3 p{padding-right:20px;font-size:14px;color:#fff;letter-spacing:-0.01em;}

.footerWrap .IcoWrap{position: absolute;bottom:0;right: 0;}
.footerWrap .IcoWrap li{float:left;margin-right: 8px;transition:0.3s;}
.footerWrap .IcoWrap li:last-child{margin-right: 0;}

.footerWrap .IcoWrap li:hover{transform:translateY(-5px)}
